@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


body{
    font-family: 'Architects Daughter', cursive;
    background-color: #7f0909;
    background-size: 100%;
    text-align: center;
}

h1{
    background-color: blanchedalmond;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    border: 5px solid silver;
    border-radius: 0%;
    text-decoration: underline;
}


div{
    background-color: blanchedalmond;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    border: 10px solid green;
    border-radius: 0%;
    font-weight: bold;
}

